* {
    box-sizing: border-box;
  }
  
  html.open, body.open {
    height: 100%;
    overflow: hidden;
  }
  
  html {
    padding: 40px;
    font-size: 62.5%;
  }
  
  body {
    padding: 20px;
    background-color: #5BB9B8;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
  }
  
  h3 {
    text-align: center;
    font-weight: 300;
    clear: both;
  }
    label,input{
      float:left;
      clear: both;
    }
    input{
      height: 5vh;
      border-radius: 8px;
      border: 2px solid #5468ff;
      padding: 1em;
      width: 100%;
    }
    input:hover {
      border: 2px solid grey;
    }
    #message{
      margin: 1em;
      margin-top: 2em;
      color: #000000;
      font-weight: bolder;
    }